<p id="notice"><%= notice %></p>

<h1>Today All Todo</h1>

<div data-controller="todo">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.content %></td>
        <td><%= link_to "Done", todo_path(todo), method: :patch, class: "btn green" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'todos/modal', todo: @todo %>

</div>